<head>
  <title>History Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body id="history">
  <h2 id="current-user"><%= @current_user.account.fname + " " + @current_user.account.lname %></h2>
  <div id="user-history">
    <% @user.posts.each do |p| %>
    <h2><%= @current_user.account.fname + " " + @current_user.account.lname %></h2>
    <p id="post-location">
    <%= p.location %>
    </p>
    <p id="post-body">
    <%= p.body %>
    </p>
    <% end %>
  </div>
</body>
