<head>
  <title>

  </title>
</head>
<body id="home">
  <form>
    <textarea class="form-control" rows="3"></textarea>
  <br>
    <button type="button" class="btn btn-primary btn-lg active">Post</button>
  </form>
</body>

