
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body id="wrapper">
    <h1>Explor the whole world with Xplor</h1>
    <p>Send messages from the farthest corners of the earth and reach other women and men who share your adventorous heart.</p>
    <form action="/sign-in" method="POST">
      <fieldset>
        <legend>Login</legend>
        <label for="email">
        <input type="email" name="email">

      </fieldset>
</body>
