<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body id="wrapper">
    <div id="headline">
      <h1><span class="little">E</span>XPLOR<span class="little">E</span></h1>
      <p>Explore the whole world with Xplor<br>Send messages from the farthest corners of the earth<br> and reach other women and men who share your adventurous heart.</p>
    </div>
    <form id="sign-in" action="/sign-in" method="POST">
      <fieldset id="login">
        <legend>Login</legend>
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="text" name="password">
      <fieldset>
      <p>Ready to explore! <a href="/signup">Sign-up</a></p>
    </form>

</body>
