<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Xplor your World</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#nav").hide();

        $("#bars").on('mouseenter', function() {
          $("#nav").slideDown();
          
        });

        $("#nav").on('mouseleave', function() {
          $("#nav").slideUp();
        });

        $("#bars").on('click', function() {
          $("#nav").slideUp();
        });

      });
    </script>
  </head>
  <body>
    <div id="logo">
      <p>Xplor</p>
    </div>
    <nav id="navbar">
      <i id="bars" class="fa fa-bars fa-5x"></i>
      <ul id="nav">
        <a href="/home">Home Page</a>
        <a href="/account">Account Info</a>
        <a href="/history">Your History</a>
        <a href="/signout">Sign-Out</a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>