<head>
  <title>Sign-up Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body id="enroll">
  <form id="user" action="/sign-up" method="POST">
    <fieldset id="user-field">
      <legend>Sign-Up for Adventure</legend>
      <ul>  
        <input type="text" name="[account]fname">
        <label for="fname">First Name</label>
        <input type="text" name="[account]lname">
        <label for="lname">Last Name</label>
        <input type="text" name="[account]hometown">
        <label for="hometown">Hometown</label>
        <input type="number" name="[account]age">
        <label for="age">Age</label>
        <input type="text" name="[account]interests">
        <label for="interests">Interests</label>
        <input type="text" name="[user]email">
        <label for="email">Email</label>
        <input type="password" name="[user]password">
        <label for="password">Create a Password</label>
        <input type="submit" name="submit" value="Sign-up">
      </ul>
    </fieldset>
  </form>
</body>

