<head>
  <title>Sign-out Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <script>
  $(document).ready(function() {
    $("#navbar").hide();
  });
  </script>
</head>
<body id="sign-out">
  <div id="goodbye">
    <h1>Thank You For Xploring With Us</h1>
    <p>See you on your next adventure</p>
  </div>
</body>