/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************************************************
***********************END RESET**************************
*********************************************************/



/*********************************************************
*********************LAYOUT PAGE**************************
*********************************************************/

#logo {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  /*border: 2px solid #ABB6EF;*/
  margin-left: 65px;
  margin-top: 25px;
  background: radial-gradient(#ABCDEF, #ABB6EF);
}

#logo p {
  position: absolute;
  margin-left: 25px;
  margin-top: 45px;
  font-family: 'Big Caslon', serif;
  font-size: 2em;
}

#navbar {
  position: fixed;
  top: 25px;
  right: 75px;
  color: #000;
  font-family: 'Lucida Grande', sans-serif;
}

#navbar a:hover {
  color: #214F7C;
}

#bars {
  width: 125px;
}

nav a {
  display: block;
  width: 125px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: 5px 0;
}

#navbtn {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: -5px;
}

#navbtn:hover {
  text-decoration: underline;
  color: #214F7C;
}

#navbtn:focus {
  outline: none;
}

/*****************************************************
****************SIGN-IN PAGE**************************
*****************************************************/

#wrapper {
  background-image: url("/images/iceland.gif");
  background-image: no-repeat;
}

#headline h1 {
  text-align: center;
  font-size: 8em;
  margin-top: -100px;
  font-family: 'Big Caslon', serif;
}

.e {
  font-size: 70px;
}

#x {
  font-size: 1.5em;
}


#headline p {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 500;
}

#login {
  width: 230px;
  padding-top: 75px;
  padding-left: 50px;
}

#login legend {
  text-align: center;
  margin-top: 75px;
  color: #214F7C;
  font-family: 'Lucida Grande', sans-serif;
}

#login label {
  color: #214F7C;
  font-family: 'Lucida Grande', sans-serif;
  margin-left: 60px;
  margin-top: 5px;
}

#login input {
  margin-left: 50px;
}
#sign-in {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: rgba(171, 205, 239, .90);
  border-radius: 15px;
}

#sign-in p {
  color: #214F7C;
  font-family: 'Lucida Grande', sans-serif;
}

#sign-in a {
  text-decoration: none;
  font-family: 'Lucida Grande', sans-serif;
}

.form-control{
  width: 400px;
  height: 40px;
  margin-left: 50px;
  margin-top: 40px;
}

textarea{
  resize: none;
}

.btn-primary{
  width: 125px;
  margin-left: 300px;
  margin-top: 20px;
}

.btn-danger{
  margin-left: 600px;
  margin-top: -83px;
}

.btn-default{
  margin-left: 100px;
}

.location{

}

.pure-group{
  height: 100px;
}

.pure-form{
  width: 400px;
  height: 500px;
  margin: 0 auto;
  padding-left: 80px;
  background-color: rgba(171, 205, 239, .90);
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}

.pure-button{
  margin: 0 auto;
}

/**************************************************
****************HOME PAGE**************************
**************************************************/

#home {
  background-image: url("/images/mountain.gif");
  background-image: no-repeat;
}

/***************************************************
***************SIGN-UP PAGE*************************
***************************************************/

#enroll {
  background-image: url("/images/sheep.gif");
  background-image: no-repeat;
}

#user {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: rgba(171, 205, 239, .90);
}

#user-field {
  width: 200px;
}

#user legend {
  color: #214F7C;
  font-family: 'Lucida Grande', sans-serif;
}

#user input {
  width: 175px;
  margin-left: 112px;
  font-family: 'Lucida Grande', sans-serif;
}

#user label {
  margin-left: 120px;
  color: #214F7C;
  font-family: 'Lucida Grande', sans-serif;
}

/****************************************************
***************ACCOUNT PAGE**************************
****************************************************/

#account {
  background-image: url("/images/ice.gif");
  background-image: no-repeat;
}


/*****************************************************
*****************HISTORY PAGE*************************
*****************************************************/

#history {
  background-image: url("/images/stream.gif");
  background-image: no-repeat;
}

/******************************************************
*****************SIGN-OUT PAGE*************************
******************************************************/

#sign-out {
  background-image: url("/images/meadow.gif");
  background-image: no-repeat;
}

#goodbye {
  width: 550px;
  height:150px;
  padding-top: 15px;
  margin: 125px auto;
  background-color: rgba(240, 255, 255, .7);
}

#goodbye h1 {
  text-align: center;
  font-family: 'Big Caslon', serif;
  font-size: 3em;
}

#goodbye p {
  text-align: center;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 20px;
}
